
{% extends "base.html" %}

{% block title %}
<title >{{blog.TITLE}}</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 style="font-weight: 500" class="display-4 text-center title" >{{blog.TITLE}}</h1>
        <small class="text-muted">Publish Date: {{blog.CREATED_AT.strftime('%Y-%m-%d')}}</small>
        <p class="text-secondary my-4">{{blog.CONTENT}}</p>
        <a href="/blog/delete/{{blog.ID}}" class="btn btn-outline-danger col-sm-1 justify-content-center">Delete</a>
    </div>
</div>
{% endblock %}
